<!DOCTYPE html>
<html>
<head lang="en">
    <title>FiSoro Communist Number Store</title>
    <meta name="description" content="FiSoro: browser-side search without any load on the server.">
    <meta name="keywords" content="browser-side search, fisoro">
    <link rel="stylesheet" type="text/css" href="css/fisoro_demo.css">
    <!--<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">-->
</head>
<body >
<h1>FiSoro Communist Number Store </h1>
<div class="rcorners-explanations">
<p>Welcome in the communist number store!</p>
<p>Why is this store communist? Because you get goods for free in this shop! (Of course it is a joke.)</p>
<p>This page demonstrates browser-side search without any load on the server. All your searches run entirely in your browser.</p>
<p>This is possible thanks to free open source software called FiSoro.</p>
<p>If you want to use FiSoro or learn more about this software -
see downloads and details in this GitHub repository: <a  href="https://github.com/vsirotin/fisoro">https://github.com/vsirotin/fisoro</a></p>
</div>
<p> </p>
<div  class="rcorners-explanations">
<p>You can select each number in interval 0-999. Your number can be represented as <span class="spandata">x =a*100+b*10+c</span></p>
<p>You can set properties of a, b, c and x itself. You can restrict x of the digits sum <span class="spandata">y=a+b+c</span></p>
<p>You can also set some substring that must appears in text representation of your number.</p>
<p>Have fun as you select and own your numbers!</p>
</div>
<p> </p>
<div  class="rcorners-computations" data-ng-app="" data-ng-controller="FiSoroController">
    <table >
    <tr>
        <th> Properties of a </th><th> Properties of b </th><th> Properties of c </th>
        <th> Properties of <span class="spandata">x =a*100+b*10+c</span></th><th>Interval for value and digits sum <span class="spandata">y=a+b+c</span></th>
        <th>Substrings</th>
    </tr>

    <tr>
        <td>
            <p data-ng-repeat="y1 in filterGroups.Nx100.filters">
                <input type="checkbox" class="mycheckbox" data-ng-model="y1.value" id="{{y1.id}}"
                       data-ng-true-value="true" data-ng-false-value="false" />{{y1.name}}</p>
        </td>
        <td>
            <p data-ng-repeat="y2 in filterGroups.Nx10.filters">
                <input type="checkbox" data-ng-model="y2.value" id="{{y2.id}}"
                       data-ng-true-value="true" data-ng-false-value="false" />{{y2.name}}</p>
        </td>
        <td>
            <p data-ng-repeat="y3 in filterGroups.Nx1.filters">
                <input type="checkbox" data-ng-model="y3.value" id="{{y3.id}}"
                       data-ng-true-value="true" data-ng-false-value="false" />{{y3.name}}</p>
        </td>
        <td>
            <p data-ng-repeat="y4 in filterGroups.WholeNumber.filters">
                <input type="checkbox" data-ng-model="y4.value" id="{{y4.id}}"
                       data-ng-true-value="true" data-ng-false-value="false" />{{y4.name}}</p>
        </td>
        <td>
            <div data-ng-repeat="y5 in filterGroups.Values.filters">
                <p>{{y5.name}}</p><p>
                <input type="number" min="0" max="999" size="4" data-ng-model="y5.value" id="{{y5.id}}"></p></div>
        </td>
        <td>
            <div data-ng-repeat="y6 in filterGroups.Texts.filters">
                <p>{{y6.name}}</p><p>
                <input type="text" size="10"  data-ng-model="y6.value" id="{{y6.id}}"></p></div>
        </td>
    </tr>
    </table>
    <p> </p>
    <br>{{selections.length}} numbers available.
    <button  data-ng-click="ShowSelections()" >Show Selection</button>

    <ul>
        <li data-ng-repeat="x in selections" data-ng-if="isShowSelectedObjects" style="list-style-type:none">
            <div class="tooltip"
                 onclick="alert('Our congratulations!\nYou are now virtual owner of this number!')">
                <img src="img/ShoppingCart.png" alt="Be virtual owner of number {{x[0]}}!" style="width:15px;height:15px;">
                {{x[0]}}  ({{x["NumberMatches"]}}) matches.
                <div class="tooltiptext"><p>Click to be virtual owner of number <span class="spandata">{{x[0]}}</span>!</p>
                    <p>Representation: <span class="spandata">{{x[6]}}</span></p>
                    <p>Description: <span class="spandata">{{x[7]}}</span></p></div>
            </div>
        </li>
    </ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="js/fisoro.js"></script>
</body>
</html>